@import url("https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  background-color: #6fb8cf;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

.mainLetter {
  white-space: pre;
  font-family: "Ribeye Marrow", cursive;
  font-size: "48";
  letter-spacing: 0em;
}
